<!DOCTYPE html>
<html>
<head>
<title>The Token Network</title>
<link rel="stylesheet" href="static/styles/playground_index.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <section class="banner">
    <header>
      <a href="index.html" class="logo">Token Network</a>
      <div class="toggle" onclick="toggle();"></div>
    </header>
    <div class="content">
    <div class="contentBx">
      <h2>{% block header %} {% endblock %}</h2>
      <p>{% block content %} {% endblock %}</p>
	<div class="title"> 
		{% block title %} {%endblock%}
	</div>
	<div class="table">
		{% block table %} {%endblock%}
	</div>
    </div>
    </div>
  <ul class="sci">
    <li><a href="#"></a></li>
  </ul>
  <ul class="menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="about_template.html">About</a></li>
    <li><a href="mining.html">Mining</a></li>

  </ul>
</section>
<!--some backgrounds on this website were not handmade by the creator of this website, 
  all proper credit to the creators of the backgrounds, images, and gifs-->
  <script type="text/javascript">
    function toggle(){
      const toggle = document.querySelector('.toggle');
      const banner = document.querySelector('.banner');
      toggle.classList.toggle('active')
      banner.classList.toggle('active')
    }
  </script>
</body>
</html>