*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.Dropdown
{
    position: fixed;
    top: 0px;
    left: 200px;
    z-index: 2;
}
button
{
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 24px;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: none;
    outline: none;
    color: #fff;
}
ul 
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
}
ul.active
{
    transform: perspective(1000px) rotateX(0deg);
}
ul li
{
    list-style: none;
}
ul li
{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: rgba(0,0, 0, 0.01);
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
ul li:hover
{
    background: #f7003e;
}

#blur .active
{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#particles-js
{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #0e0014;
}
.Buttons
{
    display: flex;
    justify-content: center;
    position: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
a
{
    position: relative;
    width: 180px;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 20px;
    transition: 0.5s;
    color: white;
}
a:hover
{
    background: #ec0b36 url(../pixel.png);
    color: black;
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate 1.4s steps(24) forwards;

}

@keyframes animate
{
    0%
    {
        background-position-y: 0;
    }
    100%
    {
        background-position-y: -480px;
    }
}
#popup
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.3);
    background: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active
{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 50%;
}